<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bigowlapp">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ViewAnotherUserActivity" />
        <activity android:name=".InvitationConfirmationActivity" />
        <activity android:name=".SendSmsInvitationActivity" />
        <activity android:name=".SupervisedGroupPageActivity" />
        <activity android:name=".SupervisedGroupListActivity" />
        <activity android:name=".MonitoringGroupPageActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>